execute:
  freeze: auto

project:
  type: website

website:
  title: "v2 S&DS 3610 Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



